.nav {
	margin-top: 25px;
	background-color: transparent;
}

.nav a {
	color: black;
	display: block;
	transition: .3s background-color;
}

.nav yi img {
	float: left;
	padding: 5px;
	margin: 0;
	width: 40px;
	height: 37px;
}

.nav er {
	text-align: center;
	font-family: Olivier;
	width: auto;
	height: 37px;
	line-height: 30px;
	font-size: 1.0em;
	display: inline-block;
	color: black;
}
