.openContainer input {
	padding-top:12px;
	padding-bottom:12px;
	color:black;
}

.openContainer .norm {
	font-family: OpenSans;
	color: #ffffff;
	font-size: 15px;
	background-color:#005f5f;
	border: solid white 2px;
	font-weight: bolder;

	text-align:center;

	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 12px;
	padding-right: 12px;

	margin-right:10px;
	margin-left:10px;
}

.openContainer .forgot {
	font-family: OpenSans;
	color: #ffffff;
	font-size: 10px;
	background-color:#005f5f;
	padding: 7px 10px 7px 10px;
	border: solid #005f5f 1px;
	font-weight:bolder;
}

